:root {
  --main-bg-color  : #1261ff;
  --second-bg-color: black;
  --error-color    : red;
}

.logo {
  height  : 10px;
  position: absolute;
  top     : 5px;
  left    : 5px;
}

.pizza-forecasting-app {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  height          : 100vh;
  background-color: var(--main-bg-color);
  background      : linear-gradient(0deg, var(--main-bg-color), var(--second-bg-color));
  overflow: hidden;
}

.forecast-wrapper {
  height         : fit-content;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: flex-start;
  color          : white;
  padding        : 2em;
}

.pizza-meter-wrapper {
  width : 50vh;
  height: 31vh;
}

.pizza-meter-marker-color {
  background-color: #c93a55;
}